

.album{
    display: flex;
    flex-wrap: wrap;
}
.photo-fram{
    width: 200px;
    height: 200px;
    position: relative;
    border: 5px solid goldenrod;
    border-radius: 5px;
    margin: 10px;
    overflow: hidden;
}
.photo img{
    width: 100%;
}


.photo-fram:hover .photo img{
    transform: scale(1.2);
    transition: 1s;
}

/* .photo-fram:hover .photo img{
    transform: rotate(360deg);
    transition: 1s;
} */

/* .photo-fram:hover .photo img{
    transform: skew(-30deg);
    transition: 1s;
} */

/* .photo-fram:hover .photo img{
    transform: skew(30deg);
    transition: 1s;
} */

/* .photo-fram:hover .photo img{
    transform: scale(1.2);
    transition: 1s;
} */



.photo-detaile{
    position: absolute;
    display: none;
    width: 200px;
    height: 200px;
    top: 0;
}
.photo-fram:hover .photo-detaile{
    display: block;
    background-color: rgba(20, 6, 6, 0.5);
    color: green;
    text-align: center;
}
.photo-fram:hover .photo-detaile h3{
    display: block;
    background-color: rgba(73, 66, 66, 0.5);
}
